:root {
  --primary-dbg-colour: grey;
  --primary-lbg-colour: white;
}

* {
  /* border: 1px solid black; */
  height: 100%;
  color: #fecdaa;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Setting up the dashboard grid  */

.grid {
  display: grid;
  grid-template-areas: "header header" "sidebar content";
  grid-template-rows: 70px 1fr;
  grid-template-columns: 280px 1fr;
}

/* Adding responsiveness on mobile */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 70px auto 1fr;
    grid-template-areas:
      "header"
      "sidebar"
      "main";
  }
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
  border: 1px solid black;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
  height: auto;
  padding: 50px;
}

.todo-list {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  align-items: center;
  align-self: center;
  width: 100%;
  gap: 10px;
}

.new-todo-btn {
    padding: 0;
    height: 5%;
}

/* Todo styling */
.todo {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-dbg-colour);
}




